BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #333366;
    FONT-FAMILY: 'Times New Roman'
}
H1
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H2
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H3
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H4
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H5
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H6
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
TH {
 color: #6060cc
}
