<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>Exercise2-SRP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!--
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/datetime-1.0</taglib-uri>
		<taglib-location>/WEB-INF/lib/taglibs-datetime.jar</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/string-1.0.1</taglib-uri>
		<taglib-location>/WEB-INF/lib/taglibs-string.jar</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/utility</taglib-uri>
		<taglib-location>/WEB-INF/lib/utility.jar</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/mailer-1.1</taglib-uri>
		<taglib-location>/WEB-INF/lib/taglibs-mailer.jar</taglib-location>
	</taglib>
	-->
</web-app>
